@model RoomTypeDetailListDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var filterModel = ViewBag.FilterModel as SearchFilterModel;
}



<!-- Primary Page Layout
================================================== -->

<div class="section hero-full-height over-hide">

    <div class="home-moving-image"></div>
    <div class="dark-over-video"></div>

    <div class="hero-center-section ver-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 parallax-fade-top">
                    <div class="hero-text-ver-2">For the Joy<br>of Life</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section background-dark z-too-big">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row justify-content-center home-translate">
                    <div class="col-xl-8">
                        <div class="row justify-content-center home-shadow">
                            <div class="col-md-6 px-sm-0">
                                <div class="booking-sep-wrap">
                                    <div class="input-daterange input-group" id="flight-datepicker-1">
                                        <div class="form-item">
                                            <span class="fontawesome-calendar"></span>
                                            <input class="input-sm" type="text" autocomplete="off" id="start-date" name="start" placeholder="check-in" data-date-format="DD, MM d" />
                                            <span class="date-text date-depart"></span>
                                        </div>
                                        <div class="form-item">
                                            <span class="fontawesome-calendar"></span>
                                            <input class="input-sm" type="text" autocomplete="off" id="end-date" name="end" placeholder="check-out" data-date-format="DD, MM d" />
                                            <span class="date-text date-return"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 px-sm-0">
                                <div class="quantity">
                                    <input name="quantity" type="number" min="1" max="9999" step="1" value="1">
                                </div>
                            </div>
                            <div class="col-md-3 px-sm-0">
                                <a class="booking-button-big" asp-action="GetAvailableRooms" asp-controller="Room">check<br>availability</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section padding-top-bottom over-hide">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 align-self-center">
                <div class="subtitle with-line text-center mb-4">elegant suites</div>
                <h3 class="text-center padding-bottom-small">Unpretentious luxury</h3>
            </div>
            <div class="section clearfix"></div>
            <div class="col-sm-6 col-lg-4">
                <div class="services-box text-center">
                    <img src="/ThaliaHotel/thalia template/img/1.svg" alt="">
                    <h5 class="mt-2">smoking free</h5>
                    <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.</p>
                    <a class="mt-1 btn btn-primary" href="services.html">read more</a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-5 mt-sm-0">
                <div class="services-box text-center">
                    <img src="/ThaliaHotel/thalia template/img/2.svg" alt="">
                    <h5 class="mt-2">king beds</h5>
                    <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.</p>
                    <a class="mt-1 btn btn-primary" href="services.html">read more</a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-5 mt-lg-0">
                <div class="services-box text-center">
                    <img src="/ThaliaHotel/thalia template/img/3.svg" alt="">
                    <h5 class="mt-2">Yacht rental</h5>
                    <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.</p>
                    <a class="mt-1 btn btn-primary" href="services.html">read more</a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-5">
                <div class="services-box text-center">
                    <img src="/ThaliaHotel/thalia template/img/4.svg" alt="">
                    <h5 class="mt-2">welcome drink</h5>
                    <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.</p>
                    <a class="mt-1 btn btn-primary" href="services.html">read more</a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-5">
                <div class="services-box text-center">
                    <img src="/ThaliaHotel/thalia template/img/5.svg" alt="">
                    <h5 class="mt-2">swimming pool</h5>
                    <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.</p>
                    <a class="mt-1 btn btn-primary" href="services.html">read more</a>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mt-5">
                <div class="services-box text-center">
                    <img src="/ThaliaHotel/thalia template/img/6.svg" alt="">
                    <h5 class="mt-2">food included</h5>
                    <p class="mt-3">Sed ut perspiciatis unde omnis iste natus error sit, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.</p>
                    <a class="mt-1 btn btn-primary" href="services.html">read more</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section padding-top-bottom-big over-hide">
    <div class="parallax" style="background-image: url('/ThaliaHotel/thalia template/img/4.jpg')"></div>
    <div class="section z-bigger">
        <div class="container">
            <div class="row">
                <div class="col-md-12 py-5">
                    <div class="booking-hero-wrap">
                        <div class="row justify-content-center">
                            <div class="col-5 no-mob">
                                <div class="input-daterange input-group" id="flight-datepicker">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-item">
                                                <span class="fontawesome-calendar"></span>
                                                <input class="input-sm" type="text" autocomplete="off" id="start-date-1" name="start" placeholder="chech-in date" data-date-format="DD, MM d" />
                                                <span class="date-text date-depart"></span>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-item">
                                                <span class="fontawesome-calendar"></span>
                                                <input class="input-sm" type="text" autocomplete="off" id="end-date-1" name="end" placeholder="check-out date" data-date-format="DD, MM d" />
                                                <span class="date-text date-return"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5 no-mob">
                                <div class="row">
                                    <div class="col-6">
                                        <select name="adults" class="wide">
                                            <option data-display="adults">adults</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <select name="children" class="wide">
                                            <option data-display="children">children</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6  col-sm-4 col-lg-2">
                                <a class="booking-button" href="search.html">book now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section padding-top-bottom over-hide background-grey">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 align-self-center">
                <div class="subtitle with-line text-center mb-4">luxury</div>
                <h3 class="text-center padding-bottom-small">Our rooms</h3>
            </div>
            <div class="section clearfix"></div>
            <div class="col-md-6">
                <div class="room-box background-white">
                    <div class="room-name">suite tanya</div>
                    <div class="room-per">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="/ThaliaHotel/thalia template/img/room3.jpg" alt="">
                    <div class="room-box-in">
                        <h5 class="">pool suite</h5>
                        <p class="mt-3">Sed ut perspiciatis unde omnis, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.</p>
                        <a class="mt-1 btn btn-primary" href="rooms-gallery.html">book from 130$</a>
                        <div class="room-icons mt-4 pt-4">
                            <img src="/ThaliaHotel/thalia template/img/5.svg" alt="">
                            <img src="/ThaliaHotel/thalia template/img/2.svg" alt="">
                            <img src="/ThaliaHotel/thalia template/img/3.svg" alt="">
                            <img src="/ThaliaHotel/thalia template/img/1.svg" alt="">
                            <a href="rooms-gallery.html">full info</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <div class="room-box background-white">
                    <div class="room-name">suite helen</div>
                    <div class="room-per">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <img src="/ThaliaHotel/thalia template/img/room4.jpg" alt="">
                    <div class="room-box-in">
                        <h5 class="">small room</h5>
                        <p class="mt-3">Sed ut perspiciatis unde omnis, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.</p>
                        <a class="mt-1 btn btn-primary" href="rooms-gallery.html">book from 80$</a>
                        <div class="room-icons mt-4 pt-4">
                            <img src="/ThaliaHotel/thalia template/img/4.svg" alt="">
                            <img src="/ThaliaHotel/thalia template/img/2.svg" alt="">
                            <img src="/ThaliaHotel/thalia template/img/6.svg" alt="">
                            <img src="/ThaliaHotel/thalia template/img/3.svg" alt="">
                            <a href="rooms-gallery.html">full info</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="room-box background-white">
                    <div class="room-name">suite andrea</div>
                    <div class="room-per">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="/ThaliaHotel/thalia template/img/room5.jpg" alt="">
                    <div class="room-box-in">
                        <h5 class="">Apartment</h5>
                        <p class="mt-3">Sed ut perspiciatis unde omnis, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.</p>
                        <a class="mt-1 btn btn-primary" href="rooms-gallery.html">book from 110$</a>
                        <div class="room-icons mt-4 pt-4">
                            <img src="/ThaliaHotel/thalia template/img/5.svg" alt="">
                            <img src="/ThaliaHotel/thalia template/img/2.svg" alt="">
                            <img src="/ThaliaHotel/thalia template/img/3.svg" alt="">
                            <img src="/ThaliaHotel/thalia template/img/6.svg" alt="">
                            <a href="rooms-gallery.html">full info</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="room-box background-white">
                    <div class="room-name">suite diana</div>
                    <div class="room-per">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                    <img src="/ThaliaHotel/thalia template/img/room6.jpg" alt="">
                    <div class="room-box-in">
                        <h5 class="">big Apartment</h5>
                        <p class="mt-3">Sed ut perspiciatis unde omnis, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et.</p>
                        <a class="mt-1 btn btn-primary" href="rooms-gallery.html">book from 160$</a>
                        <div class="room-icons mt-4 pt-4">
                            <img src="/ThaliaHotel/thalia template/img/5.svg" alt="">
                            <img src="/ThaliaHotel/thalia template/img/2.svg" alt="">
                            <img src="/ThaliaHotel/thalia template/img/3.svg" alt="">
                            <img src="/ThaliaHotel/thalia template/img/6.svg" alt="">
                            <a href="rooms-gallery.html">full info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

