<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminPanel</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/AdminLTE/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/AdminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link href="~/css/room.css" rel="stylesheet" />
</head>
<body class="hold-transition sidebar-mini layout-fixed" data-panel-auto-height-mode="height">
    <div class="wrapper">

        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="index3.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Contact</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-widget="navbar-search" href="#" role="button">
                        <i class="fas fa-search"></i>
                    </a>
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                    <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

            </ul>
        </nav>
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <a href="index3.html" class="brand-link">
                <img src="~/AdminLTE/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Yönetim Paneli</span>
            </a>

            <div class="sidebar">
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Adem Kınataş</a>
                    </div>
                </div>
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="RoomType" class="btn btn-sm btn-dark">
                                <i class="nav-icon fas fa-circle"></i>
                                Oda Tipi İşlemleri
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="RoomStatus" class="btn btn-sm btn-dark">
                                <i class="nav-icon fas fa-circle"></i>
                                Oda Durumu İşlemleri
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Room" class="btn btn-sm btn-dark">
                                <i class="nav-icon fas fa-circle"></i>
                                Oda İşlemleri
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="BookingPackage" class="btn btn-sm btn-dark">
                                <i class="nav-icon fas fa-circle"></i>
                                Konaklama Paketi İşlemleri
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Booking" class="btn btn-sm btn-dark">
                                <i class="nav-icon fas fa-circle"></i>
                                Rezervasyon İşlemleri
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Guest" class="btn btn-sm btn-dark">
                                <i class="nav-icon fas fa-circle"></i>
                                Misafir İşlemleri
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Duty" class="btn btn-sm btn-dark">
                                <i class="nav-icon fas fa-circle"></i>
                                Görev İşlemleri
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Employee" class="btn btn-sm btn-dark">
                                <i class="nav-icon fas fa-circle"></i>
                                Personel İşlemleri
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="PaymentType" class="btn btn-sm btn-dark">
                                <i class="nav-icon fas fa-circle"></i>
                                Ödeme Yöntemi İşlemleri
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Payment" class="btn btn-sm btn-dark">
                                <i class="nav-icon fas fa-circle"></i>
                                Ödeme İşlemleri
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="User" class="btn btn-sm btn-dark">
                                <i class="nav-icon fas fa-circle"></i>
                                Kullanıcı İşlemleri
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="content-wrapper iframe-mode" data-widget="iframe">
            @RenderBody()

        </div>
    </div>
    <script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>
    <script src="~/AdminLTE/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/AdminLTE/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="~/AdminLTE/dist/js/adminlte.js"></script>
    <script src="~/AdminLTE/dist/js/demo.js"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @RenderSection("JavaScript", false)
</body>
</html>
