@model List<BookingPackage>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if (Model.Count != 0)
{
    <div class="container mx-auto mt-2">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="col-md-12">
                <a asp-action="AddBookingPackage" asp-controller="BookingPackage" class="btn btn-sm btn-outline-dark my-2"> <i class="fas fa-plus-circle mr-2"></i> Konaklama Paketi Ekle</a>
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Konaklama Paketi Adı</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.BookingPackageName</td>
                                <td>
                                    <a asp-action="UpdateBookingPackage" asp-controller="BookingPackage" asp-route-id="@item.ID" class="btn btn-warning btn-sm"><i class="far fa-edit mr-2"></i>Düzenle</a>
                                    <a asp-action="DeleteBookingPackage" asp-controller="BookingPackage" asp-route-id="@item.ID" class="btn btn-danger btn-sm"><i class="far fa-edit mr-2"></i>Sil</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="text-center mt-4">
        <p class="lead">
            Kayıtlı Konaklama Paketi Bulunamadı!
        </p>
        <a asp-action="AddBookingPackage" asp-controller="BookingPackage" class="btn btn-sm btn-info my-2">Konaklama Paketi Ekle</a>
    </div>
}


