

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="page-header" style="background-image:url(assets/images/header-1.jpg)">
        <div class="container">
            <h2 class="title">Rooms & Suites</h2>
            <p>At home while on the road. </p>
        </div>
    </div>
    @if (Model.Rooms.Count != 0)
    {

    }
    else
    {
        <div class="text-center mt-4">
            <p class="lead">
                Seçtiğiniz Oda Tipinde Müsait Oda Bulunamadı!
            </p>
        </div>
    }

    @section scripts{
        <script>

        </script>
    }

