@model List<Duty>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if (Model.Count != 0)
{
    <div class="container mx-auto mt-2">
        <div class="row">
            <div class="col-md-12">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <a asp-action="AddDuty" asp-controller="Duty" class="btn btn-sm btn-outline-dark my-2"> <i class="fas fa-plus-circle mr-2"></i>Yeni Görev Ekle</a>
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Görev Adı</th>
                            <th>Açıklama</th>
                            <th>İşlem</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.DutyName</td>
                                <td>@item.Description</td>
                                <td>
                                    <a asp-action="UpdateDuty" asp-controller="Duty" asp-route-id="@item.ID" class="btn btn-warning btn-sm"><i class="far fa-edit mr-2"></i>Düzenle</a>
                                    <a asp-action="DeleteDuty" asp-controller="Duty" asp-route-id="@item.ID" class="btn btn-danger btn-sm"><i class="far fa-edit mr-2"></i>Sil</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}
else
{
    <div class="text-center mt-4">
        <p class="lead">
            Kayıtlı Görev Bulunamadı!
        </p>
        <a asp-action="AddDuty" asp-controller="Duty" class="btn btn-sm btn-info my-2">Yeni Görev Ekle</a>
    </div>
}

