
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/HumanResources/Views/Shared/_HumanResourcesLayout.cshtml";
}


<div class="text-center mt-4">
    <a asp-action="Index" asp-controller="Manager" class="btn btn-sm btn-outline-dark my-2"> <i class="fas fa-plus-circle mr-2"></i>Yönetici Tablosu</a>
    <a asp-action="Index" asp-controller="Worker" class="btn btn-sm btn-outline-dark my-2"> <i class="fas fa-plus-circle mr-2"></i>Çalışan Tablosu</a>
</div>

