
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="page">
    <!-- ===  Page header === -->
    <div class="page-header" style="background-image:url(assets/images/header-1.jpg)">
        <div class="container">
            <h2 class="title">Yetkisiz Giriş!</h2>
        </div>
    </div>
    <!-- ===  Checkout === -->
    <div class="checkout" style="padding-top:70px;">
        <div class="container">
            <div class="clearfix">
                <!-- ========================  Note block ======================== -->
                <div class="row">
                    <div class="container text-center">
                        <h1>Bu sayfaya ulaşma yetkiniz bulunmuyor.</h1>
                        <a asp-action="Index" asp-controller="Home" class="btn btn-primary btn-sm">Ana Sayfaya dön!</a>
                        <a asp-action="Login" asp-controller="Account" class="btn btn-primary btn-sm">Yetkili bir hesapla giriş yap!</a>
                    </div>
                </div>
            </div>
        </div> <!--/container-->
    </div> <!--/checkout-->

</section>


