@model Guest

@{
    ViewData["Title"] = "UpdateCustomer";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<form class="w-75 mx-auto p-3" method="post">
    <div class="form-group">
        <label >Oda Numarası :</label>
        <select class="form-control" asp-items="ViewBag.Rooms">
            <option hidden value="-1">Seçiniz</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="NationalIdentificationNumber">Kimlik/Pasaport No :</label>
        <input asp-for="NationalIdentificationNumber" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="FirstName">Misafir Adı :</label>
        <input asp-for="FirstName" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email">Misafir Soyadı :</label>
        <input asp-for="Email" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber">Telefon No :</label>
        <input asp-for="PhoneNumber" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Address">Adres :</label>
        <input asp-for="Address" type="text" class="form-control" />
    </div>
    <button type="submit" class="btn btn-info btn-sm"><i class="fas fa-check mr-2"></i>Kaydet</button>
</form>

