
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- subheader -->
<section id="subheader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>
                    Hakkımızda
                </h1>
            </div>

            <!-- devider -->
            <div class="col-md-12">
                <div class="devider-page">
                    <div class="devider-img-right">
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <ul class="subdetail">
                    <li>
                        <a asp-action="Index" asp-controller="Home">Ana Sayfa</a>
                    </li>

                    <li class="sep">
                        /
                    </li>

                    <li>
                        Hakkımızda
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- subheader end -->

<section id="about-us-1" class="h-bg no-padding col-content">
    <div class="container-fluid">
        <div class="row">

            <div class="image-container col-md-6 pull-left onStep" data-animation="fadeInLeft" data-time="0"></div>

            <div class="col-md-6 p-90">
                <div class="sp-padding">
                    <h2>
                        Otelimize Hoşgeldiniz
                    </h2>

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</section>

<section id="about-us-2" class="h-bg no-padding col-content">
    <div class="container-fluid">
        <div class="row">

            <div class="image-container col-md-6 pull-right onStep" data-animation="fadeInRight" data-time="0"></div>

            <div class="col-md-6 p-60">
                <div class="sp-padding">
                    <h3>
                        Konforlu ve Huzurlu Bir Tatil İçin
                    </h3>

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>

                </div>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>
</section>

