@model UserForLoginDto

@{
	ViewData["Title"] = "Login";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<section aria-label="home" class="mainbg-1" id="home">


 <div class="container">
  <div class="row">
   <div class="col-sm-6 col-md-4 col-md-offset-4">
	<div class="account-wall">
	 <img class="profile-img" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
						 alt="">
	 <form asp-action="Login" class="form-signin" method="post">
	  <div asp-validation-summary="ModelOnly" class="text-danger">

	  </div>
	  <div class="form-group">
	   <label asp-for="UserName">Kullanıcı Adı :</label>
	   <span asp-validation-for="UserName" class="text-danger"></span>
	   <input asp-for="UserName" type="text" class="form-control" required autofocus>
	  </div>
	  <div class="form-group">
	   <label asp-for="Password">Şifre :</label>
	   <span asp-validation-for="Password" class="text-danger"></span>
	   <input asp-for="Password" type="password" class="form-control" required>
	  </div>
	  <label class="checkbox">
	   <input asp-for="RememberMe" type="checkbox">
	   Beni Hatırla
	  </label>
	  <button class="btn btn-lg btn-primary btn-block" type="submit">
	   Giriş Yap
	  </button>
	 </form>
	</div>
	<a asp-action="Register" asp-controller="Account" class="btn btn-info text-center new-account">Hesap Oluştur</a>
	<a asp-action="Index" asp-controller="Home" class="btn btn-danger text-center new-account">Vazgeç</a>
   </div>
  </div>
 </div>
</section>





